<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

    <title>Cherrful Hiking login</title>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: rgb(139, 29, 29);">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-500">
            <div class="col-xl-500  ">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="{{ url_for('static', filename='img/icon-team.jpg') }}" style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">We are The Cherrful-Hiking Team</h4>
                      </div>
      
                      <form method="POST" action="">
                          {{ form.hidden_tag() }}
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-2">
                          <input type="email" id="form2Example11" class="form-control" placeholder="Phone number or email address"/>
                          <label class="form-label" for="form2Example11">{{ form.username.label }}{{ form.username(size=32) }}</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control" />
                          <label class="form-label" for="form2Example22">{{ form.password1.label }}{{ form.password1(size=32) }}</label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">{{ form.submit() }}</button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <button type="button" class="btn btn-outline-danger">Create new</button>
                        </div>
                          <p class="mb-0 me-2"><a href="{{url_for('googlelogin')}}">Google user login is here!!!</a></p>
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-5 d-flex align-items-center gradient-custom-2">
                    <div class="text-dark px-3 py-4 p-md-5 mx-md-8">
                      <h4 class="mb-5">We are more than just a company</h4>
                      <p class="small mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>