<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:ital,wght@1,900&display=swap" rel="stylesheet">
    

    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
    rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <title>Cheerful Hiking</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">

<script type="text/javascript"
src="{{ url_for('static', filename='javascript/navbar.js') }}"></script>


</head>
<body>



<nav>
  <div class="container">
  <h1><img src="{{ url_for('static', filename='img/icon-team.jpg') }}" style="width: 50px;" >Cheerful hiking</h1>

  <div class="menu">
    <a href=""class="is-active">Home</a>
    <a href="">About</a>
    <a href="">About</a>
  </div>

  <button class="hamburger">
    <span></span>
    <span></span>
    <span></span>

  </button>
</div>
{% block content %}
<p1></p1>
{% endblock %}
</body>
</html>