<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recognition</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="p-4">
      <h3 class="text-center text-white mb-4 my-2 p-4 bg-primary card">
        Face Recognition using Amazon Rekognition
      </h3>
      <div class="text-right">
        <button
          style="float: right"
          type="button"
          class="mx-auto btn btn-primary text-nowrap"
          onclick="window.location.href='{{ url_for( 'start_page') }}'"
        >
          Go Back to Home
        </button>
      </div>
      <br /><br />
      <div class="bg-light border border-info my-2 p-4 card">
        <div>
          <h4 style="float: left" class="m-0 p-0">
            About Recognition of Faces
          </h4>
          <br />
          <br />
          <small style="float: left" class="text-muted"
            >You Need to select collection in which you want to recognize faces
            and also you need to upload person's image to recognize</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 border p-4">
          <div class="text-center">
            <button
              style="width: 100%"
              type="button"
              class="mx-auto btn btn-primary text-nowrap"
              onclick="window.location.href='{{ url_for( 'collection_page') }}'"
            >
              Go for Creating/Deleting collection
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 border p-4">
          <div class="text-center">
            <button
              style="width: 100%"
              type="button"
              class="mx-auto btn btn-primary text-nowrap"
              onclick="window.location.href='{{ url_for( 'register_page') }}'"
            >
              Go for Register Faces
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 col-lg-4 border p-4">
          <div>
            <form
              id="todo-form"
              action="/recognize_faces"
              method="post"
              enctype="multipart/form-data"
            >
              Select a Collection &nbsp;&nbsp;&nbsp;&nbsp;
              <select name="collection" required>
                {% for item in lst %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
              </select>
              <br /><br />
              <input type="file" name="file" autocomplete="off" required />
              <br />
              <br />
              <div class="text-center">
                <button
                  type="submit"
                  class="mx-auto btn btn-primary text-nowrap"
                >
                  Recognize Faces
                </button>
              </div>
            </form>

            <br />
            {% for item in res_lst %}
            <div
              id="{{ item }}"
              class="todo-item my-2 p-4 bg-dark border border-light card"
            >
              <h10 style="float: left" class="text-white m-0 p-0"
                >{{ item }}</h10
              >
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8 border rounded p-4" id="todo_list">
          {% if filename %}
          <div style="height=310px;">
            <img
              style="width: 100%; height: 100%"
              src="{{url_for('static',filename = filename)}}"
            />
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
    ></script>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
  </body>
</html>
